.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

body {
  background-color: #3a18a3;
  color: #0FB051;
}

.controls-container {
  position: absolute;
  width: 20vw;
  height: 90vh;
  left: 0px;
  top: 0px;
  background-color: #0FB051;
  border: 3px solid black;
  margin: 10px;
  border-radius: 4px;
  color: #3A18A3;
}

.theremin-container {
  position: absolute;
  width: 70vw;
  height: 30vh;
  left: 22vw;
  top: 26vh;
  background-color: #0FB051;
  border: 3px solid black;
  margin: 10px;
  border-radius: 4px;
}

.theremin-waveform-button {
  position: absolute;
  width: 20vw;
  height: 7vh;
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  font-size: 4vh;
  z-index: 10;
}

.theremin-surface {
  position: absolute;
  width: 47vw;
  height: 28vh;
  top: 0vh;
  left: 21vw;
  background-image: linear-gradient(to right, black, red);
  border: 3px solid yellow;
  z-index: 100;
}

.theremin-surface p {
  color: white;
  font-family: "Roboto Mono", monospace;
  text-align: right;
  font-size: 1em;
  margin: .1em, 1em, 0em, 0em;
  pointer-events: none;
}

#theremin-sine-button {
  left: 0vw;
  top: 0vh;
}
#theremin-triangle-button {
  left: 0vw;
  top: 7vh;
}
#theremin-sawtooth-button {
  left: 0px;
  top: 14vh;
}
#theremin-square-button {
  left: 0px;
  top: 21vh;
}

.rhythm-container {
  position: absolute;
  width: 70vw;
  height: calc(80vh - 60px);
  left: 22vw;
  top: 58vh;
  background-color: #DCA304;
  border: 3px solid black;
  margin: 10px;
  border-radius: 4px;
}