h1, h2, h3 {
  font-family: 'Press Start 2P', cursive;
  margin: .2em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1em;
  margin: .2em;
}

#ux-credit {
  position: absolute;
  bottom: 0px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

body {
  background-color: #3a18a3;
  color: #0FB051;
  font-family: 'Press Start 2P', cursive;
}

.controls-container {
  position: absolute;
  width: 20vw;
  height: 92vh;
  left: 0px;
  top: 0px;
  background-color: #0FB051;
  border: 3px solid black;
  margin: 10px;
  border-radius: 4px;
  color: #3A18A3;
  box-shadow: #282c34 10px 10px;
}

.theremin-container {
  position: absolute;
  width: 70vw;
  height: 28vh;
  left: 22vw;
  top: 0vh;
  background-color: #0FB051;
  border: 3px solid black;
  margin: 10px;
  border-radius: 4px;
  box-shadow: #282c34 10px 15px;
}

.theremin-container[input][type=range] {
}

.theremin-waveform-button {
  position: absolute;
  width: 10vw;
  height: 7vh;
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  font-size: 4vh;
  z-index: 10;
}

.theremin-surface {
  position: absolute;
  width: 52vw;
  height: 28vh;
  top: 0vh;
  left: 18vw;
  background-image: linear-gradient(to top, #03206A, #075AC3);
  border: 3px solid #DCA304;
  box-sizing: border-box;
  z-index: 100;
}

.theremin-surface p {
  color: white;
  font-family: "Roboto Mono", monospace;
  text-align: right;
  font-size: 1em;
  margin: 10px 20px 0 0;
  pointer-events: none;
}

#theremin-sine-button {
  left: 0vw;
  top: 0vh;
}
#theremin-triangle-button {
  left: 0vw;
  top: 7vh;
}
#theremin-sawtooth-button {
  left: 0px;
  top: 14vh;
}
#theremin-square-button {
  left: 0px;
  top: 21vh;
}

#theremin-delay-time-range {
  position: absolute;
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* WebKit */
  left: 10vw;
  top: 4vh;
  width: 4vw;
  height: 20vh;
}

#theremin-delay-regen-range {
  position: absolute;
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* WebKit */
  left: 13vw;
  top: 4vh;
  width: 4vw;
  height: 20vh;
}

.rhythm-container {
  box-sizing: border-box;
  position: absolute;
  width: 70vw;
  height: calc(70vh - 60px);
  left: 22vw;
  top: 30vh;
  background-color: #DCA304;
  border: 3px solid black;
  margin-top: 30px;
  margin-left: 15px;
  border-radius: 4px;
  box-shadow: #282c34 10px 15px;
}

img {
  height: calc(35vh - 50px);
  width: auto;
}